button,
    div,
    form,
    input {
      margin: 10px;
    }

    button {
        background-color: rgb(79, 139, 129);
        color: white;
        padding: 10px;
        font-weight: bold;
    }